<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Origami</title>
        <style>
            @font-face {
                font-family: 'robotoBlack';
                src: url('font://robotoBlack.ttf') format('truetype');
                font-weight: 900;
                font-style: normal;
            }
            @font-face {
                font-family: 'robotoBlack';
                src: url('font://robotoBlackItalic.ttf') format('truetype');
                font-weight: 900;
                font-style: italic;
            }
            @font-face {
                font-family: 'robotoBold';
                src: url('font://robotoBold.ttf') format('truetype');
                font-weight: 700;
                font-style: normal;
            }
            @font-face {
                font-family: 'robotoBold';
                src: url('font://robotoBoldItalic.ttf') format('truetype');
                font-weight: 700;
                font-style: italic;
            }
            @font-face {
                font-family: 'robotoMedium';
                src: url('font://robotoMedium.ttf') format('truetype');
                font-weight: 500;
                font-style: normal;
            }
            @font-face {
                font-family: 'robotoMedium';
                src: url('font://robotoMediumItalic.ttf') format('truetype');
                font-weight: 500;
                font-style: italic;
            }
            @font-face {
                font-family: 'roboto';
                src: url('font://robotoRegular.ttf') format('truetype');
                font-weight: 400;
                font-style: normal;
            }
            @font-face {
                font-family: 'roboto';
                src: url('font://robotoItalic.ttf') format('truetype');
                font-weight: 400;
                font-style: italic;
            }
            @font-face {
                font-family: 'robotoLight';
                src: url('font://robotoLight.ttf') format('truetype');
                font-weight: 300;
                font-style: normal;
            }
            @font-face {
                font-family: 'robotoLight';
                src: url('font://robotoLightItalic.ttf') format('truetype');
                font-weight: 300;
                font-style: italic;
            }
            @font-face {
                font-family: 'robotoThin';
                src: url('font://robotoThin.ttf') format('truetype');
                font-weight: 100;
                font-style: normal;
            }
            @font-face {
                font-family: 'robotoThin';
                src: url('font://robotoThinItalic.ttf') format('truetype');
                font-weight: 100;
                font-style: italic;
            }
            html {
                box-sizing: border-box;
                user-select: none;
                font-family: roboto;
            }
            input, select, textarea, button {
                font-family: inherit;
            }
            input::-webkit-input-placeholder {
                font-family: robotoLight;
            }
            *, *:before, *:after {
                box-sizing: inherit;
                user-select: inherit;
            }
            html, body, #root {
                height: 100%;
            }
            body {
                margin: 0;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
